

.encabezado, .contenido, .contenido-lateral, .pie-pagina{
  padding: 1em 2em;
}

.contenido, .contenido-lateral, .pie-pagina{
  float: left;
  box-sizing: border-box;
}
.encabezado{
  background-color: rgb(247, 220, 22);
  height: 100px;
}
.contenido{
  width: 60%;
}

.contenido-lateral{
  width: 40%;
  background-color: cornflowerblue;
  height: 400px;
}

.post{
  background-color: black;
  height: 100px;
  margin-bottom: 1em;
}

.pie-pagina{
  width: 100%;
  background-color: crimson;
  height: 50px;
}