#Titulo {color:tomato;
}

p   {
    color: darkgreen;
}

p.soya {color: blueviolet;
}
p.especial {color: indianred;
}

div p {color: chartreuse;
}

div h2, div h3 {color:darkcyan;
}

* {font-size: 35px;} /*selector universal*/

/*COMENTARIOS: ESTE APARTADO SIRVE PARA QUE EL INTERPRETE DEL CODIGO
CSS NO TENGA EN CUENTA NADA DE LO QUE ESCRIBIMOS EN ESTE APARTADO
*/

#fondo {background-color: transparent;
/*opacity: 0.6;*/
background-image: url('CSS\FONDO\BACKGROUND\ESTILOS\mario.png');
height: 400px;
}